body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global link styles - exclude MUI Button links */
a:not(.MuiButton-root):not(.MuiButtonBase-root) {
  color: #1976d2;
  text-decoration: underline;
}

a:not(.MuiButton-root):not(.MuiButtonBase-root):visited {
  color: #1976d2;
}

a:not(.MuiButton-root):not(.MuiButtonBase-root):hover {
  color: #1565c0;
}

/* Format for answer divs */
.answer {
  color: rgb(30, 70, 32);
  background-color: #edf7ed !important;
}

.home-row {
    cursor: pointer;
}

.resource-header {
    font-size: '1.5em';
}

.description-icon {
    text-decoration: none;
    color: inherit;
}
